.logo {
  color: white;
  font-size: 2rem;
  font-weight: 700;
}

.navbar {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: #2F4858;
}

::ng-deep .p-sidebar .p-sidebar-header .p-sidebar-close, .p-sidebar .p-sidebar-header .p-sidebar-icon  {
  color: #2F4858;
}

::ng-deep .p-sidebar {
  background-color: #FFEFCA;
}


.bit-margin {
  margin: 1rem;
}

.menu-item {
  color: white;
  font-size: 1.3rem;
  font-weight: 700;
}

.menu-item:hover {
  color: #FBCA1F;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .logo  {
    font-size: 1.3rem;
  }
}
