<div [style]="{'background-color':'#1d3557'}" class="grid flex align-content-center flex-wrap">
  <div class="col-6 flex align-items-center">
    <p class="p-component logo bit-margin">ale<span [style]="{'color':'#e63946'}">.</span>developer</p>
  </div>
  <div class="col-6 flex align-items-center justify-content-end">
    <p class="p-component menu-item bit-margin">about</p>
    <p class="p-component menu-item bit-margin">works</p>
    <p class="p-component menu-item bit-margin">writings</p>
    <p class="p-component menu-item bit-margin">contact</p>
    <i [style]="{'color':'white','font-size':'1.4rem','margin-left':'1rem'}" class="pi pi-moon bit-margin"></i>
  </div>
</div>
