<ng-container *ngIf="!isMobileLayout">
  <div class="grid flex align-content-center flex-wrap navbar">
    <div class="col-6 flex align-items-center">
      <p class="p-component logo bit-margin">ale<span [style]="{'color':'#FBCA1F'}">.</span>developer</p>
    </div>
    <div class="col-6 flex align-items-center justify-content-end">
      <p class="p-component menu-item bit-margin">about</p>
      <p class="p-component menu-item bit-margin">works</p>
      <p class="p-component menu-item bit-margin">writings</p>
      <p class="p-component menu-item bit-margin">contact</p>
      <i (click)="changeTheme()"
         [style]="{'color':darkMode ? '#FFD369' : 'white','font-size':'1.4rem','margin-left':'1rem','cursor':'pointer'}"
      [ngClass]="darkMode ? 'pi pi-sun bit-margin' : 'pi pi-moon bit-margin'"></i>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="isMobileLayout">
  <div  class="grid navbar">
    <div class="col-2 flex align-content-center flex-wrap">
      <button class="flex align-items-center justify-content-center"
                (click)="openSideBar = true"><i class="pi pi-bars"></i></button>
    </div>
    <div class="col-10 flex justify-content-end align-content-center flex-wrap">
      <p class="p-component logo bit-margin">ale<span [style]="{'color':'#FBCA1F'}">.</span>developer</p>
    </div>
  </div>

  <p-sidebar [closeOnEscape]="true" [modal]="true" [(visible)]="openSideBar" [baseZIndex]="999">
    <div class="grid">
      <div class="col-12">
        <button [style]="{'width':'100%'}">Home</button>
      </div>
      <div class="col-12">
        <button [style]="{'width':'100%'}">About</button>
      </div>
      <div class="col-12">
        <button [style]="{'width':'100%'}">Works</button>
      </div>
      <div class="col-12">
        <button [style]="{'width':'100%'}">Writings</button>
      </div>
      <div class="col-12">
        <button [style]="{'width':'100%'}">Contact</button>
      </div>
      <div class="col-12">
        <button [style]="{'width':'100%'}"  (click)="changeTheme()">
          <i [ngClass]="darkMode ? 'pi pi-sun' : 'pi pi-moon'"></i>
        </button>
      </div>
    </div>
  </p-sidebar>
</ng-container>
