<div class="grid flex align-content-center justify-content-center flex-wrap ">
  <div class="col-12 flex align-items-center justify-content-center">
    <p-card class="home-card">
      <div class="grid flex align-content-center justify-content-center flex-wrap">
        <div class="col-12 flex align-items-center justify-content-center">
          <img class="avatar-image" src='https://avataaars.io/?avatarStyle=Circle&topType=ShortHairShortFlat&accessoriesType=Round&hairColor=Brown&facialHairType=Blank&clotheType=Hoodie&clotheColor=Blue03&eyeType=Happy&eyebrowType=Default&mouthType=Smile&skinColor=Pale'
          />
        </div>
        <div class="col-12 flex align-items-center justify-content-center">
          <p class="p-component home-title no-margin">Hello, I'm Alessio De Vincentis</p>
        </div>
        <div class="col-12 flex align-items-center justify-content-center">
          <p class="p-component home-sub-title no-margin">Full stack developer. Content creator. Based in Italy.</p>
        </div>
        <div class="col-12 lg:col-6 md:col-6 flex align-items-center justify-content-center lg:justify-content-end md:justify-content-end">
          <p-button label="See my works" icon="pi pi-users"  badge="8"></p-button>
        </div>
        <div class="col-12 lg:col-6 md:col-6 flex align-items-center justify-content-center lg:justify-content-start md:justify-content-start">
          <p-button  label="Read my writings" icon="pi pi-users"  badge="13"></p-button>
        </div>
      </div>
    </p-card>
  </div>
  <div class="col-12 flex align-items-center justify-content-center header-articles-container">
    <p>Last articles<br><span [style]="{'font-size':'1.3rem'}">(or view them all if you want)</span></p>
  </div>
  <div class="col-12 lg:col-6 md:col-6 flex align-items-center justify-content-center">
    <p-card class="last-article-odd" header="How to create a responsive navigation bar in Angular">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt
        quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!</p>
    </p-card>
  </div>
  <div class="col-12 lg:col-6 md:col-6 flex align-items-center justify-content-center">
    <p-card class="last-article-even" header="How to create a responsive navigation bar in Angular">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt
        quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!</p>
    </p-card>
  </div>
  <div class="col-12 lg:col-6 md:col-6 flex align-items-center justify-content-center">
    <p-card class="last-article-odd" header="How to create a responsive navigation bar in Angular">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt
        quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!</p>
    </p-card>
  </div>
  <div class="col-12 lg:col-6 md:col-6 flex align-items-center justify-content-center">
    <p-card class="last-article-even" header="How to create a responsive navigation bar in Angular">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt
        quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!</p>
    </p-card>
  </div>
</div>
