.home-title {
  font-size: 3.3rem;
  font-weight: 900;
  text-align: center;
  text-align: center;
}

.home-sub-title {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
}

.header-articles-container {
  font-size: 2rem;
  font-weight: 900;
  text-align: center;
}

.subtitle-view-all:hover {
  text-decoration: underline;
  cursor: pointer;
  text-decoration-thickness: 3px;
}

::ng-deep .p-card {
  border: 3px solid #1d3557;
  border-radius: 0.4em;
  box-shadow: 0.1em 0.1em;
}

::ng-deep .p-card:hover {
  cursor: pointer;
}

.no-margin {
  margin: 0;
}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 768px) {
  .home-title {
    font-size: 2rem;
  }

  .home-sub-title {
    font-size: 1.3rem;
  }

  .avatar-image {
    height: 30vh;
  }

  ::ng-deep .home-card .p-card {
    margin: 1rem 1rem;
  }

  ::ng-deep .last-article-even .p-card, ::ng-deep .last-article-odd .p-card, ::ng-deep .recent-work .p-card {
    margin: 0.6rem 1rem;
  }
}

@media screen and (min-width: 768px) {
  ::ng-deep .home-card .p-card {
    margin: 2rem 10rem;
  }

  .avatar-image {
    height: 30vh;
  }

  ::ng-deep .last-article-odd .p-card {
    margin: 0 0 0 2.3rem;
  }

  ::ng-deep .last-article-even .p-card {
    margin: 0 2.3rem 0 0;
  }

  ::ng-deep .recent-work .p-card {
    margin: 0 2.3rem 0 2.3rem;
  }

}
