<div class="grid flex align-content-center justify-content-center flex-wrap ">
  <div class="col-12 flex align-items-center justify-content-center">
    <p-card class="home-card">
      <div class="grid flex align-content-center justify-content-center flex-wrap">
        <div class="col-12 flex align-items-center justify-content-center">
          <img class="avatar-image" src='https://avataaars.io/?avatarStyle=Circle&topType=ShortHairShortFlat&accessoriesType=Round&hairColor=Brown&facialHairType=Blank&clotheType=Hoodie&clotheColor=Blue03&eyeType=Happy&eyebrowType=Default&mouthType=Smile&skinColor=Pale'
          />
        </div>
        <div class="col-12 flex align-items-center justify-content-center">
          <p class="home-title no-margin">Hello, I'm Alessio De Vincentis</p>
        </div>
        <div class="col-12 flex align-items-center justify-content-center">
          <p class="home-sub-title no-margin">Full stack developer. Content creator. Based in Italy.</p>
        </div>
        <div class="col-12 lg:col-6 md:col-6 flex align-items-center justify-content-center lg:justify-content-end md:justify-content-end">
          <button>See my works</button>
        </div>
        <div class="col-12 lg:col-6 md:col-6 flex align-items-center justify-content-center lg:justify-content-start md:justify-content-start">
          <button>Read my writings</button>
        </div>
      </div>
    </p-card>
  </div>
  <div class="col-12 flex align-items-center justify-content-center header-articles-container">
    <p>Recent works<br><span class="subtitle-view-all" [style]="{'font-size':'1.3rem'}">(or view them all if you want)</span></p>
  </div>
  <div class="col-12 lg:col-6 md:col-6 flex align-items-center justify-content-center">
    <p-card class="last-article-odd" header="Tracker, light service stats Enel replatforming and migration">
      <p class="article-p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt
        quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!</p>
    </p-card>
  </div>
  <div class="col-12 lg:col-6 md:col-6 flex align-items-center justify-content-center">
    <p-card class="last-article-even" header="How to create a responsive navigation bar in Angular">
      <p class="article-p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt
        quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!</p>
    </p-card>
  </div>
  <div class="col-12 lg:col-6 md:col-6 flex align-items-center justify-content-center">
    <p-card class="last-article-odd" header="How to create a responsive navigation bar in Angular">
      <p class="article-p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt
        quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!</p>
    </p-card>
  </div>
  <div class="col-12 lg:col-6 md:col-6 flex align-items-center justify-content-center">
    <p-card class="last-article-even" header="How to create a responsive navigation bar in Angular">
      <p class="article-p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt
        quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!</p>
    </p-card>
  </div>

  <div class="col-12 flex align-items-center justify-content-center header-articles-container">
    <p>Last articles<br><span class="subtitle-view-all" [style]="{'font-size':'1.3rem'}">(or view them all if you want)</span></p>
  </div>
  <div class="col-12 flex align-items-center justify-content-center">
    <p-card (click)="openArticle()" class="recent-work" header="How to create a responsive navigation bar in Angular">
      <p class="article-p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt
        quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!</p>
    </p-card>
  </div>
  <div class="col-12 flex align-items-center justify-content-center">
    <p-card class="recent-work" header="How to create a responsive navigation bar in Angular">
      <p class="article-p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt
        quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!</p>
    </p-card>
  </div>
  <div class="col-12 flex align-items-center justify-content-center">
    <p-card class="recent-work" header="How to create a responsive navigation bar in Angular">
      <p class="article-p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt
        quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!</p>
    </p-card>
  </div>
  <div class="col-12 flex align-items-center justify-content-center">
    <p-card class="recent-work" header="How to create a responsive navigation bar in Angular">
      <p class="article-p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt
        quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!</p>
    </p-card>
  </div>
  <div class="col-12 flex align-items-center justify-content-center header-articles-container">
    <p>Talk to me</p>
  </div>
  <div class="col-12">
    <p-card class="home-card">
      <div class="grid">
        <div class="col-12 lg:col-4 md:col-4 lg:justify-content-end md:justify-content-end flex align-items-center justify-content-center">
          <i [style]="{'margin-right':'0.8rem'}" class="pi pi-phone"></i>
          <p>3403885497</p>
        </div>
        <div class="col-12 lg:col-4 md:col-4 flex align-items-center justify-content-center">
          <i [style]="{'margin-right':'0.8rem'}" class="pi pi-wallet"></i>
          <p>aledevdeveloper@dev.it</p>
        </div>
        <div class="col-12 lg:col-4 md:col-4 lg:justify-content-start md:justify-content-start flex align-items-center justify-content-center">
          <i [style]="{'margin-right':'0.8rem'}" class="pi pi-map"></i>
          <p>Whatever you are</p>
        </div>
        <div class="col-12">
          <h5>Name</h5>
          <input [style]="{'width':'100%'}" type="text" pInputText [(ngModel)]="nameForm">
        </div>
        <div class="col-12">
          <h5>Email</h5>
          <input pinputText [style]="{'width':'100%'}" type="text" pInputText [(ngModel)]="emailForm">
        </div>
        <div class="col-12">
          <h5>Message</h5>
          <textarea [style]="{'width':'100%'}" rows="5" cols="30" pInputTextarea></textarea>
        </div>
        <div class="col-12 flex align-items-center justify-content-center">
          <button>Send message</button>
        </div>
      </div>
    </p-card>
  </div>
</div>
