.article-title {
  font-size: 2rem;
  font-weight: 900;
  text-align: center;
}

::ng-deep .article-card .p-card  {
  border: 3px solid var(--card-border);
  border-radius: 0.4em;
  box-shadow: 0.1em 0.1em;
  background-color: var(--card-background);
}

.date-time-info {
  font-weight: 900;
  margin: 0.7rem;
}

@media screen and (min-width: 768px) {
  ::ng-deep .article-card .p-card  {
    margin: 2rem 10rem;
  }
}

@media screen and (max-width: 768px) {
  ::ng-deep .article-card .p-card  {
    margin: 1rem 1rem;
  }

  .article-title {
    font-size: 1.5rem;
  }
}
