:root {
  --navbar-color: #2F4858;
  --text-color: #ffffff;
  --body-color: #FFEFCA;
  --pre-background-color: #FFF9EE;
  --footer-text: white;
  --button-color: #FBCA1F;
  --card-background: white;
  --card-border: #1d3557;
  --text-color: #000;
  --card-title: #3f3f46;
  --article-info:#3f3f46;
  --code-snippet: #2F4858;
}

body {
  background: var(--body-color);
}

p {
  color: var(--text-color);
}

@font-face {
  font-family: "odin";
  src: local("odin"), url(assets/fonts/odin/odin-light.otf) format("opentype");
}

@font-face {
  font-family: "avant-garde";
  src: local("odin"), url(assets/fonts/avant-garde/avant_garde_regular.ttf) format("truetype");
}

body,
body .p-component
{
  font-family: "avant-garde", sans-serif;
}

button {
  background-color: var(--button-color);
  font-family: inherit;
  padding: 0.6em 1.3em;
  font-weight: 900;
  font-size: 18px;
  border: 3px solid var(--navbar-color);
  border-radius: 0.4em;
  box-shadow: 0.1em 0.1em;
}

button:hover {
  transform: translate(-0.05em, -0.05em);
  box-shadow: 0.15em 0.15em;
  cursor: pointer;
}

button:active {
  transform: translate(0.05em, 0.05em);
  box-shadow: 0.05em 0.05em;
}


.article-info {
  color: var(--article-info);
}

.article-p {
  line-height: 1.8;
}

.p-card .p-card-title {
  color: var(--card-title);
}

.title-paragraph {
  font-weight: 800;
  font-size: 1.2rem;
}

pre {
  white-space: pre-wrap;
  word-break: break-word;
  background-color:var(--pre-background-color);
  padding:1rem;
}

code {
  color:var(--code-snippet);
}

.footer {
  background-color: var(--navbar-color);
  margin-bottom: -0.5rem;
  padding: 2.6rem;
}

.footer-icon {
  color: var(--footer-text);
  margin-left: 0.6rem;
  margin-right: 0.6rem;
}

.navbar {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: var(--navbar-color);
}
